<footer>
  <p mt-8 text-xs op-30>
    <span pr-1>Made by</span>
      ZouChao
    <span px-1>|</span>
    <a
      b-slate-link
      href="https://ai.zouyt.com/reward.jpg" target="_blank"
    >
    打赏
    </a>
    <span px-1>|</span>
    微信：
    <a
      b-slate-link
      href="https://ai.zouyt.com/wechat.jpg" target="_blank"
    >
      zouchaoge
    </a>
  </p>
</footer>
